.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: "liga";
	font-style: normal;
	text-rendering: optimizelegibility;
	letter-spacing:0.5px;
	word-spacing:0.5px;
	overflow-x:hidden;
	color: $font-default-color;
	position:relative;


}

html{
	min-width: 320px;
	.container{
		min-width: 320px;
	}
}