header {
	position: fixed;
	z-index: 10;
	a{
		color: #fff;
	}
	height: 44px;
	background: #000;
	width: 100%;

	.avatar{
		background: #fff;
		display: inline-block;
		margin-left: em(5, 14);
	}

	.burger{
		position: absolute;
		right: 0.5em;
		height: 100%;
	}

	i.menu{
		color: #fff;
		background: #fff;

		height: em(1,7);
		width: em(15,7);
		display: inline-block;
		position: relative;

		&:before,&:after{
			background: #fff;
			position: absolute;
			top: em(-5,7);
			width: 100%;
			height: em(1,7);
			display: block;
			content: '';
		}
		&:after{
			top: auto;
			bottom: em(-5,7);
		}
	}

	nav{
		height: 0;
		overflow-y: hidden;
		margin-top: 44px;
		position: relative;
		width: 230px;
		text-align: right;
		line-height: 0.85em;

		a{
			display: inline-block;	
			padding: 0.5em 0.5em;
			background: rgba(0,0,0,0.95);
			// transition-delay: 0.1s;
			transition-duration: 0.75s;
			transition-property: background color transform;
			width: 100%;
			overflow: hidden;
			line-height: 1em;
			right: 0;
			text-align: left;
			transform: scaleX(0);
			transform-origin: right center 1px; 
			opacity: 0;
			&:hover,&:active{
				color: #000 !important;
				background: rgba(255,255,255,0.95);
			}
			&:focus{
				color: #fff;
			}
			span{
				font-weight: 100;
				width: 210px;
				display: block;
				height: 1em;
			}
			&[disabled]{
				pointer-events: none;
				span{
					opacity: 0.5;
					&:after{
						display: inline-block;
						font-size: 0.5em;
						line-height: 0.5em;
						padding-left: 0.2em;
						content: 'coming soon';
					}
				}
			}
		}
		&.on{
			height: 230px;
			a{
				width: 100%;
				transform: none; 
				opacity: 1;
				&:nth-child(1){
					transition: background 0.15s linear 0s, color 0.15s linear 0s, transform 0.25s ease-out 0s, opacity 0.25s linear 0s;
				}
				&:nth-child(2){
					transition: background 0.15s linear 0s, color 0.15s linear 0s, transform 0.25s ease-out 0.05s, opacity 0.25s linear 0.05s;
				}
				&:nth-child(3){
					transition: background 0.15s linear 0s, color 0.15s linear 0s, transform 0.25s ease-out 0.1s, opacity 0.25s linear 0.1s;
				}
				&:nth-child(4){
					transition: background 0.15s linear 0s, color 0.15s linear 0s, transform 0.25s ease-out 0.15s, opacity 0.25s linear 0.15s;
				}
			}
		}
	}


}
.menu-overlay{
	z-index: 10;
	position: fixed;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	background: #000;
	display: none;
}
