.container{
	padding: 0;
	@include SubItem();

}
.home{
	.video{
		position: relative;
		height: 50%;
		height: 50vh;
		width: 33.3333%;
		width: 33.3333vw;
		float: left;
		overflow: hidden; 
		background-color: #000;
		transition: 0.3s;

		.player{
			@include SubItem();
			opacity: 0;
			transition: 0.3s;
			iframe{
				@include SubItem();
			}
		}
		.poster{
			@include SubItem();
			background-position: center;
			background-size: cover;
		}

		.player, .poster{
			&:after{
				@include SubItem();
				content: '';
				background: url(../img/grid.svg) 0 0/3px 3px;
				opacity: 0.6;
			}
		}

		&.video-1{
			transform-origin: left top 1px;
		}

		&.video-2{
			transform-origin: center top 1px;
		}

		&.video-3{
			transform-origin: right top 1px;
		}

		&.video-4{
			transform-origin: left bottom 1px;
		}

		&.video-5{
			transform-origin: center bottom 1px;
		}

		&.video-6{
			transform-origin: right bottom 1px;
		}
		&.video.playing{
			// border: 1px solid #fff;
			transform: scale(1.05);
			z-index: 5;
			.player{
				&:after{
					opacity: 0.3;
				}
			}
		}

		&.playing{
			.player{
				opacity: 1;
			}
		}
	}
}